<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit profile</title>
  </head>
  <body>
    <h1>프로필 수정</h1>
    <form action="/update-profile" method="POST" enctype="multipart/form-data">
      <input type="text" name="username" value="<%=user.username%>" />
      <input type="date" name="birthdate" value="<%=user.birthdate %>" />
      <button type="submit">수정 완료</button>
    </form>
    <img
      src="/profile-image/<%=user.id %>"
      alt="profile Image"
      width="400"
      height="700"
    />
  </body>
</html>
