<h1>전체 게시판</h1>
<ul>
  <% posts.forEach(post =>{ %>
  <li>
    <p>제목: <%=post.title%></p>
    <p>본문: <%=post.desc %></p>
    <p>작성자: <%=post.author %></p>
    <p>작성날짜: <%=post.updatedAt%></p>
  </li>

  <% }) %>
</ul>
