<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>회원 프로필 페이지</h1>
    회원아이디 : <%=user.username %>
    <br />
    생년월일 : <%=user.birthdate %>
    <br />
    <img src="/profile-image/<%=user.id %>" alt="profile Image" />
    <a href="/">홈으로</a>

    <script>
      d;
    </script>
  </body>
</html>
