<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>Signup</title>
  </head>
  <body>
    <% if(typeof successMessage === 'undefined') successMessage=null; %> <%
    if(typeof errorMessage === 'undefined') errorMessage =null; %> <% if
    (successMessage !== null) { %>
    <script>
      alert("<%= successMessage %>");
      setTimeout(function () {
        window.location.href = "/";
      }, 500); // 0.5초 후 리디렉션
    </script>
    <% } else if (errorMessage !== null) { %>
    <script>
      alert("<%= errorMessage %>");
    </script>
    <% } %>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <form action="/signup" method="POST" enctype="multipart/form-data">
      <label for="inputPassword5" class="form-label">사용자명:</label>
      <input
        type="text"
        id="username"
        name="username"
        required
        class="form-control"
        aria-describedby="passwordHelpBlock"
      />

      <label for="inputPassword5" class="form-label">비밀번호:</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        class="form-control"
        aria-describedby="passwordHelpBlock"
      />

      <label for="birthdate">생년월일:</label>
      <input type="date" id="birthdate" name="birthdate" required />

      <div class="input-group mb-3">
        <input
          type="file"
          class="form-control"
          id="inputGroupFile02"
          name="profileImage"
          accept="image/*"
          required
        />
        <label class="input-group-text" for="inputGroupFile02">Upload</label>
      </div>

      <button type="submit" class="btn btn-primary btn-sm">가입하기</button>
    </form>
  </body>
</html>
