<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Signup</title>
  </head>
  <body>
    <% if(typeof successMessage === 'undefined') successMessage=null; %> <%
    if(typeof errorMessage === 'undefined') errorMessage =null; %> <% if
    (successMessage !== null) { %>
    <script>
      alert("<%= successMessage %>");
      setTimeout(function () {
        window.location.href = "/";
      }, 500); // 0.5초 후 리디렉션
    </script>
    <% } else if (errorMessage !== null) { %>
    <script>
      alert("<%= errorMessage %>");
    </script>
    <% } %>
    <form action="/signup" method="POST" enctype="multipart/form-data">
      <label for="username">사용자명:</label>
      <input
        type="text"
        id="username"
        name="username"
        required
        
      />

      <label for="password">비밀번호:</label>
      <input
        type="password"
        id="password"
        name="password"
        required
      />

      <label for="birthdate">생년월일:</label>
      <input type="date" id="birthdate" name="birthdate" required />


      <input type="file" name="profileImage" accept="image/*" required/>


      <button type="submit">가입하기</button>
    </form>
  </body>
</html>
