<ul>
  <% users.forEach(user =>{ %>
  <li>
    <p>사용자명: <%= user.username %></p>
    <a href="/profile/<%=user._id %>">
      <img src="/profile-image/<%=user.id%>" alt="프로필사진" />
    </a>
  </li>
  <% }) %>
</ul>
